body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  font-size: larger;}

.dropdown-item{
  font-size: medium;
}

.slide {
  height: 50vh;   
  width: 100%;     
  object-fit: cover; 
  display: none;    
}

.butContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.grosBut {
  width: 50vw;
  height: 300px;
}
.grosBut img {
  width: 100%;
  height: 280px;
  display: block;
}

.contact {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: auto;
}

footer {
  background-image: url('Assets/Wood.png');
  height: 20vh;
}

.fb {
  position: absolute;
  right: 0;
  padding-right: 10px;
}

.page-content {
  padding-top: 150px;
}

.map{
  width: 200vh;
  height:50vh; 
  border:0;
}

.page-content {
  padding-top: 150px; 
}

.navbar {
  background-image: url('Assets/Wood.png');
}

.nav-item {
  font :bold;
}

.about {
  background-image: url('Assets/motif.png');
  color:azure;
}

.VenteBackground {
  background-image: url('Assets/motif.png');
  color:azure;
}